#assets{
    width: 100%;
    padding-top: 10px;
    height: 320px;
    background: #21282b;
}

.assets-button {
    -webkit-user-select: none; 
    width:18px;
    height:18px;
    padding-top: 4px;
    padding-right: 30px;
    display:block;
    float:right;
    transition: all .1s ease-in-out;
}

.asset-inspector-caption{
    -webkit-user-select: none; 
    position: relative;
    top : -6px;
    color:#b7d3d8;
    font: 14px Arial, sans-serif;
}

.assets-button:hover {
    transform: scale(1.03);
}

.assets-button:active {
    transform: scale(0.99);
}

.assets-button-image {
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none;
    width:18px;
    height:18px;
}

.assets-vert-scrollnode{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    display: block;
    flex-flow: column wrap;
    top : 8px;
    left : 6px;
    width: calc(100% - 12px);
    height: calc(100% - 26px);
    background: #323c41;
    overflow-y: auto;
    overflow-x: hidden;
}

.assets-item-image-container{
    pointer-events: none;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #0000003a;
}

.assets-item-image-container.selected {
    pointer-events: none;
    background: #6e7c803a;
    outline: 2px solid rgba(255, 199, 44, 0.658);
}

.assets-item-image{
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none;
    width: auto;
    height: auto;
    max-width: 58px;
    max-height: 58px;

}

.assets-item-caption{
    display: inline-block;
    -webkit-user-select: none; 
    pointer-events: none;
    color:#b7d3d8;
    padding-top: 8px;
    width: 100px;
    height:50px;
    line-height:50px;
    position: relative;
    font: 14px Arial, sans-serif;
    overflow:hidden;
    
}

.assets-item{
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: inline-block;
    text-align: center;
    height: 90px;
    width: 100px;
}



