#hierarchy{
    -webkit-user-select: none; 
    width:300px;
    min-width: 300px;
    height:100%;
    background: #21282b;
}

.hierarchy-button {
    -webkit-user-select: none; 
    width:18px;
    height:18px;
    padding-top: 4px;
    padding-right: 30px;
    display:block;
    float:right;
    transition: all .1s ease-in-out;
}
  
.hierarchy-button:hover {
    transform: scale(1.03);
}

.hierarchy-button:active {
    transform: scale(0.99);
}

.hierarchy-button-image {
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none;
    width:18px;
    height:18px;
}

.hierarchy-vert-scrollnode{
    display: flex;
    position: relative;
    top : 8px;
    left : 6px;
    width: calc(100% - 12px);;
    height: calc(100% - 34px);
    background: #323c41;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.hierarchy-item {
    -webkit-user-select: none; 
    padding-left: 4px;
    color:#b7d3d8;
    position: relative;
    height: 20px;
    font: 14px Arial, sans-serif;
}

.hierarchy-item.active {
    color:#fcfdd0;
    background-color: #434d52;
}

.hierarchy-item.drag {
    color:#ffffff;
    background-color: #404649;
}

.inspector-placeholder {
    width:100%;
    height: 4px;
    background: #00000000;
}

.inspector-placeholder.active {
    height: 6px;
    background: #5f84fc;
}