#inspector{
    background: #21282b;
    width: 100%;
    height: calc(100% - 85px);
    display: flex;
    flex-direction: row;
}

.inspector-caption{
    -webkit-user-select: none; 
    color:#b7d3d8;
    position: relative;
    left : 10px;
    font: 14px Arial, sans-serif;
}

.inspector-caption-image{
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none;
    padding-right: 5px;
    top : 20px;
    width: 15px;
    height: 17px;
}

.inspector-vert-scrollnode{
    display: block;
    position: relative;
    top : 8px;
    left : 6px;
    width: calc(100% - 12px);;
    height: calc(100% - 34px);
    background: #323c41;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#center{
    height: calc(100%);
    width: 100%;
    min-width: 100px; 
    display: flex;
    flex-direction: column;
}

#canvas-container {
    height: calc(100% - 330px);
    width: 100%;
    min-width: 100px;
    overflow: hidden;
}

canvas {
    position: relative;

    min-width: 1280px;
    min-height: 1024px;
/*
    height: 100%;
    width: 100%;
*/
}