.inspector-item {
    width:100%;
    height:30px;
    padding-left: 10px;
    padding-right: 15px;
    background-color:#454d5500;
    float:left;
}

.inspector-item.active {
    background-color:#454d55;
}

.inspector-item-image {
    width:25px;
    height:25px;
    pointer-events: none;
}

.inspector-item-caption {
    pointer-events: none;
    color:#d4d5d6;
    position: relative;
    top : -6px;
    left : 10px;
    font: 14px Arial, sans-serif;
}

.inspector-options {
    -webkit-user-select: none; 
    visibility: visible;
    padding-top: 3px;
    padding-right: 10px;
    display:block;
    float:right;
}

.inspector-options.disabled {
    pointer-events: none;
    display: none;
}

.option-button {
    -webkit-user-select: none; 
    width:22px;
    height:22px;
    padding-right: 10px;
    display:block;
    float:right;
    transition: all .1s ease-in-out;
  }
  
  .option-button:hover {
    transform: scale(1.08);
  }
  
  .option-button:active {
    transform: scale(0.98);
  }
  
  .option-button-image {
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none;
    width:22px;
    height:22px;
  }