#menu-container {
    -webkit-user-select: none; 
    padding-top: 12px;
    width:100%;
    height:35px;
    background: #21282b;
  }
  
.menu-button {
    -webkit-user-select: none; 
    width:20px;
    height:20px;
    padding-left: 10px;
    padding-right: 15px;
    display:block;
    float:left;
    transition: all .1s ease-in-out;
}

.menu-button:hover {
    transform: scale(1.08);
}

.menu-button:active {
    transform: scale(0.98);
}

.menu-button-image {
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
   
