#properties{
    -webkit-user-select: none; 
    width:300px;
    min-width: 300px;
    height:100%;
    background: #21282b;
}

.properties-button {
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: all;
    width: 60px;
    height: 18px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    background-color: #504c4c;
    filter: brightness(0.5);

    padding-top: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    display:block;
    float:right;
    transition: all .1s ease-in-out;
}
  
.properties-button:hover {
    filter: brightness(1);
}

.properties-button:active {
    filter: brightness(0.4);
}

.properties-button-textured {
    -webkit-user-select: none; 
    width:12px;
    height:14px;
    padding-top: 2px;
    margin-right: 10px;
    display:block;
    float:right;
    transition: all .1s ease-in-out;
}
  
.properties-button-textured:hover {
   
}

.properties-button-textured:active {
    
}

.properties-button-image:hover {
    filter: brightness(1);
}

.properties-button-image:active {
    filter: brightness(0.4);
}

.properties-button-image {
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    pointer-events: all;
    align-self: center;
    width:12px;
    height:12px;
    filter: brightness(0.5);
}

.properties-button-text:hover {
    filter: brightness(1);
}

.properties-button-text:active {
    filter: brightness(0.4);
}

.properties-button-text {
    text-align: center;
    font-size: 12px;
    text-overflow: clip;
    color: #fcfff7;
}

.properties-number-field {
    user-select: text;
    width: 80px;
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    text-align: center;
    background-color: #2c2c2c;
    color: antiquewhite;
    margin-left: 10px;
}

.properties-name-field {
    user-select: text;
    width: 186px;
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    text-align: left;
    padding-left:10px;
    background-color: #2c2c2c;
    color: antiquewhite;
    margin-left: 10px;
}

.color-picker-field {
    position: relative;
    top: -4px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    width: 40px;
    height: 26px;
    display: inline-block;
    text-align: center;
    background-color: #2c2c2c;
    color: antiquewhite;
    margin-left: 10px;
    padding-left:10px;
}

.color-picker-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0);
    z-index: 5;
}

.properties-path-field {
    user-select: text;
    width: 186px;
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    text-align: left;
    padding-left:10px;
    background-color: #2c2c2c;
    color: antiquewhite;
    margin-left: 10px;
}

.properties-path-field.highlight {
    outline: 2px solid rgba(255, 199, 44, 0.658);
}


.single-property-block {
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.multy-property-block{
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.block-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.block-container-label {
    color: #919090;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 4px;
}

.block-container-caption {
    color: #c5c5c5;
    font-size: 14px;
    display: inline-block;
}

.properties-slider-shifted-top {
    position: relative;
    top: 3px;
    width: 110px;
    margin-left: 10px;
}

.properties-slider {
    position: relative;
    width: 110px;
    margin-left: 10px;
}

.list-open-item {
    color: #b6b6b6;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    margin-top: 4px;
}

.list-open-item:hover {
    color: #fcfff7;
}

.list-item {
    color: #b6b6b6;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #afafaf;
}

.list-item:hover {
    color: #fcfff7;
}

.list-block {
    background-color: #21282b;
    border-style: solid;
    border-color: #afafaf;
    border-radius: 4px;
    border-width: 1px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 260px;
    padding-bottom: 4px;
    margin-top: 4px;
}

.list-block-disabled {
    visibility: hidden;
    display: none;
}

.block-node-type {
    color: #c5c5c5;
    font-size: 16px;
    display: inline-block;
    border-style: solid;
    border-color: #afafaf;
    border-radius: 4px;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
