body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #272f33;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  /*
  display: flex;
  flex-direction: column;
  */
}

html {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  /*
  display: flex;
  flex-direction: column;
  */
}

bar-caption {
  -webkit-user-select: none; 
  color:#b7d3d8;
  position: relative;
  top : 4px;
  left : 50%;
  font: 15px Arial, sans-serif;
  text-align: center;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
	background-color: rgb(42, 44, 49);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #585858;
}